
  .day{
    --bgmain-color:white;
    --bg-color:rgb(167, 158, 158);
    --text-color:white;
    --span-color:white;
    --border-color:rgb(71, 8, 8);
    --icon-color:rgb(177, 8, 8);
    --day-color:black;
    --modebutton:0%
}
.night{
    --bgmain-color:black;
    --bg-color:rgb(42, 40, 40);
    --text-color:white;
    --span-color:blackq;
    --border-color:rgb(71, 8, 8);
    --icon-color:rgb(218, 209, 209);
    --day-color:white;
    --modebutton:50%
}